{% extends "master/base.html" %} {% load static %} {% block content %}

<div class="container" style="margin-top: 50px">
  <center>
    <i
      class="fas fa-check-circle"
      style="font-size: 72px; margin-bottom: 20px; color: #28a745"
    ></i>
  </center>
  <h2 class="text-center">Payment Successful</h2>
  <br />
  <div class="text-center">
    <a href="{% url 'products:product' %}" class="btn btn-success">Shop more</a>
  </div>
</div>

<div
  class="container"
  style="
    margin: 0 auto;
    width: 50%;
    padding: 50px;
    background: #f1f1f1;
    margin-top: 50px;
    margin-bottom: 50px;
  "
>
  <div class="row invoice row-printable">
    <div class="col-md-12">
      <!-- col-lg-12 start here -->
      <div class="panel panel-default plain" id="dash_0">
        <!-- Start .panel -->
        <div class="panel-body p30">
          <div class="row">
            <!-- Start .row -->
            <div class="col-lg-6">
              <!-- col-lg-6 start here -->
              <div class="invoice-logo">
                <img
                  src="/media/site_logos/islingtonmarketplacefavicon.PNG"
                  alt="Islington Marketplace"
                  style="max-height: 60px; max-width: 200px; object-fit: contain;"
                />
              </div>
            </div>
            <!-- col-lg-6 end here -->
            <div class="col-lg-6">
              <!-- col-lg-6 start here - THIS WAS MISSING -->
              <div class="invoice-from">
                <ul class="list-unstyled text-right">
                  <li><strong>Invoiced To</strong></li>
                  <li>{{ order.user.get_full_name|default:order.user.username }}</li>
                  <li>{{ order.address }}</li>
                  <li>{{ order.city }}, {{ order.zip }}</li>
                  <li>{{ order.country }}</li>
                </ul>
              </div>
            </div>
            <!-- col-lg-6 end here -->
            <div class="col-lg-12">
              <!-- col-lg-12 start here -->
              <div class="invoice-details mt25">
                <div class="well">
                  <ul class="list-unstyled mb0">
                    <li><strong>Order</strong> #{{ order.id }}</li>
                    <li>
                      <strong>Transaction</strong> #{{ order.transaction_id }}
                    </li>
                    <li>
                      <strong>Order Date:</strong> {{ order.created_at|date:"l, F jS, Y" }}
                    </li>
                    <li><strong>Status:</strong> {{ order.status|upper }}</li>
                    <li><strong>Payment Method:</strong> {{ order.payment_method }}</li>
                  </ul>
                </div>
              </div>

              <div class="invoice-items">
                <div
                  class="table-responsive"
                  style="overflow: hidden; outline: none"
                  tabindex="0"
                >
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th class="per70 text-center">Description</th>
                        <th class="per5 text-center">Qty</th>
                        <th class="per25 text-center">Total</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for item in order.items.all %}
                      <tr>
                        <td>{{ item.product.name }}</td>
                        <td class="text-center">{{ item.quantity }}</td>
                        <td class="text-center">
                          Rs. {{ item.price|floatformat:2 }}
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                    <tfoot>
                      <tr>
                        <th colspan="2" class="text-right">Sub Total:</th>
                        <th class="text-center">
                          Rs. {{ order.total|floatformat:2 }}
                        </th>
                      </tr>
                      <tr>
                        <th colspan="2" class="text-right">Tax:</th>
                        <th class="text-center">
                          Rs. {{ order.tax|floatformat:2 }}
                        </th>
                      </tr>
                      <tr>
                        <th colspan="2" class="text-right">Grand Total:</th>
                        <th class="text-center">
                          Rs. {{ order.grand_total|floatformat:2 }}
                        </th>
                      </tr>
                    </tfoot>
                  </table>
                </div>
              </div>
              
              <!-- Payment Method Info -->
              {% if order.payment_method != 'Cash on Delivery' %}
              <div class="invoice-footer mt25">
                <div class="alert alert-success text-center">
                  <i class="fa fa-check-circle"></i>
                  Payment completed via {{ order.payment_method }}
                </div>
              </div>
              {% else %}
              <div class="invoice-footer mt25">
                <div class="alert alert-info text-center">
                  <i class="fa fa-money-bill-alt"></i>
                  Payment will be collected on delivery
                </div>
              </div>
              {% endif %}
              
              <div class="invoice-footer">
                <p class="text-center">Thank you for shopping with us!</p>
                <div class="text-center mt-3">
                  <a href="{% url 'products:product' %}" class="btn btn-primary mr-2">Continue Shopping</a>
                  <a href="/orders/my-orders/" class="btn btn-outline-primary">View My Orders</a>
                </div>
              </div>
            </div>
            <!-- col-lg-12 end here -->
          </div>
          <!-- End .row -->
        </div>
      </div>
      <!-- End .panel -->
    </div>
    <!-- col-lg-12 end here -->
  </div>
</div>

<!-- Print Styles -->
<style>
@media print {
  .btn, .alert {
    display: none;
  }
  .container {
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
  }
}
</style>

{% endblock %}